
.titleWords{
	background-color:white;
	color:white;
	text-align:center;
	font-size:20px;
}

input{
	margin:3px;
	max-width: 100%;
}

textarea{
	max-width: 100%;
}

.alarmForm{
	border:solid white 1px;
	margin: 1.5%;
	padding: 2%;
	line-height: 160%;
}

#wholeForm{
	padding-left: 1%;
	min-width: 540px;
}

img{
	max-width:  100%;
}

.largeSelect{
	height: 140px;
	width: 325px;
}

.fLeft{
	float: left;
	width:  49%;
}

.fRight{
	float: right;
	width: 49%;
}

.cBoth{
	clear: both;
}

.boxed{
	border:solid black 1px;
}

.centerView{
	text-align: center;
}

.myRow{
	clear: both;
	padding-left: 2%;
	padding-top: 1.5%;
}